{% extends "site/base.html" %}
{% block title %}Error 404{% endblock title %}

{% block content %}

<div class="container px-5 py-5 text-center">
	<div class="card">
	    <div class="card-body">
			<h2>Error 404</h2>
	       	<p>This page doesn't exist. Please, verify url.</p>
			<img src="https://img.freepik.com/vecteurs-libre/erreur-404-concept-illustration_114360-1811.jpg?w=1060&t=st=1699284062~exp=1699284662~hmac=1c55bc44fd461f72fe520a756d79ca7c6a7a793695e5768d6f9fdc4f25a233bd" alt="Image from Freepik.com"/>
	    </div>
	</div>
</div>

{% endblock content %}