{% extends "site/base.html" %}
{% block title %}Error 500{% endblock title %}

{% block content %}

<div class="container px-5 py-5 text-center">
	<div class="card">
	    <div class="card-body">
			<h2>Error 500</h2>
	       	<p>Server can't find id "{{ profile }}" ... </p>
			<img src="https://img.freepik.com/vecteurs-libre/500-illustration-concept-erreur-serveur-interne_114360-5572.jpg?w=740&t=st=1699284311~exp=1699284911~hmac=faf550533782ea839d80b57024c9d62b6511026aa69b3e7d25f1146ced4bec0f" alt="Image from Freepik.com"/>
	    </div>
	</div>
</div>

{% endblock content %}